@media (max-width: 925px) {
  form {
    input {
      width: 69.5%;
    }
  }
}

@media (max-width: 800px) {
  .movieContainer {
    .imageContainer {
      width: 60%;
    }

    .info {
      .overview {
        line-height: 15px;
      }

      .trailer {
        width: 100%;
        height: 150px;
      }
    }
  }
}
