@import 'setup';


header {
    background-image: url(../images/headerImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
}

.wrapper {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  header {
    background-image: url(../images/headerImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
  }
  h1 {
    text-align: center;
    padding-top: 20px;
  }
  main {
    height: 60vh;
  }
  form {
    width: 100%;
    input {
      width: 70%;
      height: 50px;
    }
    button {
      background-color: lavender;
      padding: 10px;
      width: 25%;
      cursor: pointer;
    }
    input,button {
        margin-top: 30px;
    }
  }
  footer {
    background-color: gray;
    padding: 5px;
    text-align: center;
    a {
      color: #ea593e;
    }
  }