@import "setup";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #090b64;
  line-height: 22px;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

p,
a,
h1,
h2,
ul,
li {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../images/headerImage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-container {
    background-color: rgba(255, 255, 255, 0.426);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1 {
  font-size: 7rem;
  text-align: center;
  // font-family: 'Courgette', cursive;
  font-family: "Tulpen One", cursive;
  // padding-top: 20px;
}

main {
  min-height: 75vh;
  background-color: rgb(211, 211, 211);
  padding: 50px 0;
}

form {
  width: 100%;

  input {
    width: 70%;
    height: 50px;
    border: 2px solid rgb(26, 25, 25);
    padding-left: 20px;
  }

  button {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    width: 29.5%;
    height: 50px;
    cursor: pointer;
    color: rgb(221, 198, 198);
    border-radius: 10px;
  }

  input,
  button {
    margin-top: 30px;
  }
}

.welcome-image-container {
  margin-top: 50px;
}

.movie-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  border: 2px solid black;
  background-color: rgb(243, 237, 237);

  .info {
    padding: 0 20px;
    width: 60%;

    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;

    .dateAndRatings {
      display: flex;
      justify-content: space-between;

      span {
        font-weight: bold;
      }
    }

    .release-date {
      margin-bottom: 10px;
    }

    .overview {
      padding: 10px 0;
      line-height: 20px;
    }

    h2 {
      text-align: center;
      margin: 10px 0 20px;
    }
    .trailer-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .trailer {
      margin: 15px 0;
      width: 65%;
      height: 213px;
    }
  }

  .image-container {
    width: 30%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  background-color: gray;
  padding: 5px;
  text-align: center;
  height: 5vh;
  min-height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    color: #ea593e;
  }
}


@media (max-width: 925px){
  form {
    input {
      width: 69.5%;
    }
  }
}

@media (max-width: 800px) {
  .movie-container {
    .image-container {
      width: 60%;
    }

    .info {
      .overview {
        line-height: 15px;
      }

      .trailer {
        width: 100%;
        height: 150px;
      }
    }
  }
}

@media (max-width: 650px) {
  .movie-container .info .dateAndRatings {
    flex-direction: column;
  }

  a {
    line-height: 20px;
    font-size: 1rem;
  }

  body {
    font-size: 1rem;

  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 5rem;
  }
  .movie-container{
    flex-direction: column;

    .image-container,
    .info {
      width: 100%
    };

    .image-container {
      background-color: #131212;
      // max-width: 250px;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
    }


    .image-container img {
      width: 50%;
    }
  }

}

@media (max-width: 450px) {
  form{
    input,
    button {
      width: 100%;
    }

    button {
      margin-top: 15px;
    }
  }
}

button:hover,
button:focus {
  background-color: #570303;
}

.button:active {
  background-color: #222222;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

